REQUIREMENTS
DUAL CORE PROCESSOR OR MORE CORES , BUS SPEED OF 4.OGT/S OR MORE , OR A ARM PROCESSOR MORE THAN 1.0 GHZ AND 512MB OR MORE RAM
A GRAPHICS CARD 
2 GB OR MORE RAM
HDD 7200 RPM OR 5400 RPM, 20GB STORAGE OR MORE FOR GOOD USER EXPERIENCE MIN 4 TO 10 GB ,SATA HDD AND SSD RECOMMENDED OR PCIE NVME SSD
THANKS
